/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(233, 233, 233);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: block;
  min-width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.metronome {
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
  background-attachment: fixed;
}

.bpm-slider input {
  width: 100%;
  margin: 10px;
  background-color: #fcfbd660;
  border-radius: 5px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #fcfbd6;
  height: 1rem;
  width: 16px;
  border-radius: 5px;
  background: #85acb1;
  cursor: pointer;
}

.metronome button {
  background: #3333337a;
  padding: 10px;
  border: 1px solid #fcfbd6;
  border-radius: 5px;
  width: 100px;
  color: #85acb1;
  font-size: 18px;
  cursor: pointer;
  margin-left: 1rem;
  transition: 0.3s;
}

.metronome button:hover {
  box-shadow: 0 0 20px rgba(196, 123, 211, 0.685);
  color: #fcfbd6;
}

.search-submit {
  transition: 0.3s;
  cursor: pointer;
}

.search-submit:hover {
  box-shadow: 0 0 20px rgba(196, 123, 211, 0.685);
  color: #fcfbd6;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
